@charset "utf-8";
/* CSS Document */

:root{
	--black: hsla(0deg, 0%, 0%, 1);
	--dark3: hsla(60deg, 4%, 91%);
	--boxshadow: 0 0 30px hsl(0deg 0% 0% / 10%);
	--container : 1280px;
}

body{
	min-height: 100%;
	background-color: #fafafa;
	font-size: 1em;
}


/* 그리드_나는 기본 12 */
.grid{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	gap: 1em;
}
[class*="cards"]{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	gap: 1em;
}
.cards-5{ grid-template-columns: repeat(10,1fr); }
.cards-7{ grid-template-columns: repeat(14,1fr); }
.cards-1 > * { grid-column: span 12 }
.cards-2 > * { grid-column: span 6 }
.cards-3 > * { grid-column: span 4 }
.cards-4 > * { grid-column: span 3 }
.cards-5 > * { grid-column: span 2 }
.cards-6 > * { grid-column: span 2 }
.cards-7 > * { grid-column: span 2 }

.colspan1{ grid-column: span 1 !important  }
.colspan2{ grid-column: span 2 !important  }
.colspan3{ grid-column: span 3 !important  }
.colspan4{ grid-column: span 4 !important  }
.colspan5{ grid-column: span 5 !important  }
.colspan6{ grid-column: span 6 !important  }
.colspan7{ grid-column: span 7 !important  }
.colspan8{ grid-column: span 8 !important  }
.colspan9{ grid-column: span 9 !important  }
.colspan10{ grid-column: span 10 !important  }
.colspan11{ grid-column: span 11 !important  }
.colspan12{ grid-column: span 12 !important  }


.rowspan2{ min-height: calc( var(--min-height, auto) * 2 + var(--gap) ) !important; grid-row: span 2 !important }
.rowspan3{ min-height: calc( var(--min-height, auto) * 3 + ( var(--gap) * 2 ) ) !important; grid-row: span 3 !important }
.rowspan4{ min-height: calc( var(--min-height, auto) * 4 + ( var(--gap) * 3 ) ) !important; grid-row: span 4 !important }
.rowspan5{ min-height: calc( var(--min-height, auto) * 5 + ( var(--gap) * 4 ) ) !important; grid-row: span 5 !important }



