@charset "utf-8";
/* CSS Document */


/* 글꼴 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); /* */



:root{
	--fontFamily : "Pretendard Variable", sans-serif;/*, 'Noto Sans KR' "Pretendard Variable" */
	--placeholder-color : hsla(0, 0%, 0%, 0.67);

	/* 기본 색상 */
	--black : hsla(0deg, 0%, 0%, 1);
	--grey : hsla(0deg, 0%, 0%, 1);

    --dark1 : #111; /* hsla(0, 0%, 7%, 1) */
    --dark3 : hsla(0, 0%, 20%, 1); /* #333 */
    --dark4 : hsla(0, 0%, 27%, 1); /* #444;  */
    --dark5 : hsla(0, 0%, 33%, 1);/* #555; */
    --dark6 : hsla(0, 0%, 40%, 1);/* #666; */
    --dark7 : hsla(0, 0%, 47%, 1);/* #777; */
    --dark8 : hsla(0, 0%, 53%, 1);/* #888; */
    --dark9 : hsla(0, 0%, 60%, 1);/* #999; */
    --darkA : hsla(0, 0%, 67%, 1);/* #AAA; */
    --darkB : hsla(0, 0%, 73%, 1);/* #bbb; */
    --darkC : hsla(0, 0%, 80%, 1);/* #ccc; */
    --darkD : hsla(0, 0%, 87%, 1);/* #ddd; */
    --darkE5 : #e5e5e5; /* hsla(0, 0%, 90%, 1)  */
    --darkF2 : #f2f2f2; /* hsla(0, 0%, 90%, 1)  */
}

html {
    height: 100%;
	box-sizing: border-box;
	font-size: 1em; /* 16px 62.5% */
}
body {
    min-height: 100%;
	font-family: var(--fontFamily);
	font-size: 18px;
	font-weight:400;
	color:#222;
	word-break: break-all;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;/**/
	font-family: var(--fontFamily);/* "Pretendard Variable" */
	box-sizing: border-box;
}
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    font-size: 1em;
}

/* *, *:before, *:after {box-sizing:inherit;}*/
*{box-sizing:inherit;}

/*fieldset {border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em;}*/
legend {
	display:none;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	border:0;
	overflow:hidden;
}
form { /*flex: 1; flex-basis: auto;*/ }
label{

}
input {
	color:inherit;
	margin:0;
	line-height:normal;
	caret-color: #444;
}
/*input:focus{
	outline-color: #00f;
	outline-width: 1px;
}*/
datalist,
input,
input[type="checkbox"],
input[type="radio"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="file"],
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	font-size: 1em;
}

input[type="checkbox"], input[type="radio"] {
/*	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;*/
	box-sizing:border-box;
	padding:0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height:auto;
}
input[type="search"] {
	padding:0 1em;
	/* -webkit-appearance:textfield; */
	outline-offset: -2px; /* 2. Correct the outline style in Safari. */
}


input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
}
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
	border: none;/**/
	font: inherit; /* 2. Change font properties to `inherit` in Safari. */
	cursor: pointer;
}
input[type="file"]::-webkit-file-upload-button:hover,
input[type="file"]::file-selector-button:hover{
	background-color: #f00;
	border: none;
}

input[disabled] { cursor:default; }
input::-moz-focus-inner {border:0; padding:0;}
input:-moz-focus-inner {border:0; padding:0;}



input::-webkit-input-placeholder {color:var( --placeholder-color );}
input::-moz-placeholder {color:var( --placeholder-color );}
input::placeholder {color:var( --placeholder-color );}
input:-webkit-input-placeholder {color:var( --placeholder-color );}
input:-moz-placeholder {color:var( --placeholder-color );}
input:placeholder {color:var( --placeholder-color );}

input[type="text"]::-webkit-input-placeholder {color:hsla(0, 0%, 0%, 0.67);}
input[type="text"]::-moz-placeholder {color:var( --placeholder-color ) ;}
input[type="text"]::placeholder {color:var( --placeholder-color ) ;}
input[type="text"]:-webkit-input-placeholder {color:var( --placeholder-color );}
input[type="text"]:-moz-placeholder {color:var( --placeholder-color ) ;}
input[type="text"]:placeholder {color:var( --placeholder-color ) ;}
input[type="password"]::-webkit-input-placeholder {color:var( --placeholder-color );}
input[type="password"]::-moz-placeholder {color:var( --placeholder-color ) ;}
input[type="password"]::placeholder {color:var( --placeholder-color ) ;}
input[type="password"]:-webkit-input-placeholder {color:var( --placeholder-color );}
input[type="password"]:-moz-placeholder {color:var( --placeholder-color ) ;}
input[type="password"]:placeholder {color:var( --placeholder-color ) ;}

textarea {
	font-family: var(--fontFamily);
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	overflow:auto;
}
textarea::-webkit-input-placeholder {color:var( --placeholder-color );}
textarea::-moz-placeholder {color:var( --placeholder-color );}
textarea::placeholder {color:var( --placeholder-color );}
textarea:-webkit-input-placeholder {color:var( --placeholder-color );}
textarea:-moz-placeholder {color:var( --placeholder-color );}
textarea:placeholder {color:var( --placeholder-color );}

button, [type="button"],
[type="reset"],
[type="submit"]  {
	font-family: inherit;
	/*color:inherit;*/
	background-color: transparent;
	border: none;
	cursor: pointer;
	/*outline: none;*/
	overflow:visible;
	text-transform:none;
	-webkit-appearance:button;
}
button[disabled]{ cursor:default; }
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

select {
	font-family: var(--fontFamily);
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	text-transform:none;   
}
optgroup {font-weight:bold;}
option{}

table {border-collapse:collapse; border-spacing:0;}
caption {width:0; height:0; font-size:0; line-height:0; overflow:hidden; display:none;}
td, th {padding:0;}
th {font-weight:500;}

h1, h2, h3, h4, h5, h6{font-weight:500;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display:block;}
audio, canvas, progress, video {display:inline-block; vertical-align:baseline;}
audio:not([controls]) {display:none; height:0;}
[hidden], template {display:none;}

a {
	text-decoration:none;
	color:#333;
	background:transparent;
}
a:active, a:hover {
	color:#000;
	outline:0;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, .3);
}

abbr[title] {border-bottom:1px dotted;}
b, strong {font-weight:700;}
dfn {font-style:italic;}
mark {background:#ff0; color:#000;}
small { }
sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
ol, ul {list-style: none;}
img {vertical-align:middle; border:0;}
svg:not(:root) {overflow:hidden;}
figure { }
figcaption{  }

hr {height:0;}
pre {overflow:auto;}
code, kbd, pre, samp {font-family:monospace, monospace; font-size:1em;}


.gap4{ --gap: 4px; gap: var(--gap); }
.gap8{ --gap: 8px; gap: var(--gap); }
.gap12{ --gap: 12px; gap: var(--gap); }
.gap16{ --gap: 16px; gap: var(--gap); }
.gap20{ --gap: 20px; gap: var(--gap); }
.gap24{ --gap: 24px; gap: var(--gap); }

